@tailwind base;
@tailwind components;
@tailwind utilities;


.map-container{
  width: 290px;
  height: 90px;
  background-color: plum;
}
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #636363 #b8b8b8;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #b8b8b8;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 9px;
    border: 2px solid #ffffff;
  }

  .toggle-format{
    position: relative;
    font-family: 'Raleway', sans-serif
  }
  @keyframes switch-right {
  0%{max-width: 6.1em}
      
  33%{  max-width: 14.4em  }
  66% {    max-width: 14.4em;
    transform: translateX(0em)}
  
  100%{max-width: 7.9em ;
    transform: translateX(6.4em)}
  }
@keyframes switch-left {
  0% { max-width: 7.9em ;
    transform: translateX(6.4em)}
     
  33% {      max-width: 14.4em;
    transform: translateX(0em)}

  66%{      max-width: 14.4em
  }
  100% {      max-width: 6.1em
  }
}

.inputtoggle{
  display: none

}

.inputtoggle + .sidebar {
  animation: switch-left 0.5s ease forwards

}

.inputtoggle:checked + .sidebar {
  animation: switch-right 0.5s ease forwards

}
.sidebar{
  position: absolute;
        display: block;
        border-radius: 3px;
        background-color: #3e50b4;
        width: 100%;
        max-width: 6.1em;
        height: 2em;
        z-index: -1;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@layer components {
 
  #sidebar {
    --tw-translate-x: -100%;
}
#menu-close-icon {
    display: none;
}

#menu-open:checked ~ #sidebar {
    --tw-translate-x: 0;
}
#menu-open:checked ~ * #mobile-menu-button {
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
#menu-open:checked ~ * #menu-open-icon {
    display: none;
}
#menu-open:checked ~ * #menu-close-icon {
    display: block;
}

@media (min-width: 768px) {
    #sidebar {
        --tw-translate-x: 0;
    }
}

  .container{
    max-width: 100%;
    margin: 20px auto;
  }

  .city{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
  }

  .tempeture{
    font-weight: 700;
    font-size: 3.2rem;
    letter-spacing: -5px;
  }


  .parameter-row{
    display: flex;
    gap: 10px;
    letter-spacing: 0.8px;

  }

  .details{
    font-size: .8rem;
    font-weight: 600;
  }
  .bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;

  }
}

body {
  margin: 0;
  font-family: 'Roboto' , Arial, !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d4d4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
div{
  justify-content:center;
  align-items:center;
  display:flex;
  height:100vh;
  background-color:white;
}
button{
  border:none;
  background-color:offwhite;
  font-size:30px;
  padding:20px 40px;
  text-transform:capitalize;
  cursor:pointer;
  transform:all 0.3s;
  position:relative;
}
button:before{
  content:"";
  position :absolute;
  width:24px;
  height:24px;
  top:-5px;
    left:-5px;
  border-top:2px solid tomato;
  border-left:2px solid tomato;
  transition:all 0.25s;
}
button:hover:before ,button:hover:after{
  width:104%;
  height:110%;
}
button:after{
  content:"";
  position :absolute;
  width:24px;
  height:24px;
  bottom:-5px;
    right:-5px;
  border-bottom:2px solid tomato;
  border-right:2px solid tomato;
  transition:all 0.30s;
} */